{% extends "orders/baseGeneral.html" %}
{% load static %}
{% block head %}
    <title>Pizzeria Pinnochio's - Dashboard Page</title>
    <link rel="stylesheet" href="{% static 'orders/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'orders/css/owl.theme.default.min.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="pizza_breadcrumb">
            <a href="index.html"><i class="fa fa-home"></i> Home</a> / <span>Orders</span>
        </div>

        <section class="we_are dash_height">
            <div class="piz_title">
                <div class="small_title"><h3>dashboard</h3></div>

                <div class="big_title"><h1 class="dash_big_title">All Orders</h1><img
                        src="{% static 'orders/img/italy.png' %}"></div>

            </div>
            <div class="title_devider">
                <p class="line"></p>
            </div>
            <div class="under_title">
                <p>Thanks For choosing Pinocchio's! We've been feeding
                    Harvard and the surrounding area since 1966!.</p>
            </div>
        </section>
        <section class="dashboard">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="title">My Account</h3>
                    <ul>
                        <li {% if orderType == 'all' %}class="active"{% endif %}><a href="{% url 'adminorders' 'all' 1 %}"><i class="far fa-list-alt"></i> All Orders </a></li>
                        <li {% if orderType == 'initiated' %}class="active"{% endif %}><a href="{% url 'adminorders' 'initiated' 1 %}"><i class="far fa-list-alt"></i> Open Orders </a></li>
                        <li {% if orderType == 'pending' %}class="active"{% endif %}><a href="{% url 'adminorders' 'pending' 1 %}"><i class="far fa-list-alt"></i> Placed Orders </a></li>
                        <li {% if orderType == 'completed' %}class="active"{% endif %}><a href="{% url 'adminorders' 'completed' 1 %}"><i class="far fa-list-alt"></i> Completed Orders </a></li>
                        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out </a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th class="transaction_th">transaction number</th>
                            <th>User</th>
                            <th>price</th>
                            <th class="status_th">status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in allUserOrder reversed%}
                            <tr>
                                <td>{{ order.date }}</td>
                                <td class="transaction_td">2543FD564533ER{{ order.id }}</td>
                                <td>{{ order.user }}</td>
                                <td>$ {{ order.totalPriceOrder }}</td>
                                <td class="status_td"><a href="{% url 'changeorders'  order.id %}"><span id="badge" class="badge badge-warning">{{ order.status }}</span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row float-right margin_right_0">
                        <ur class="pagination right">
                            {% if allOrdersCount <= 10 %}
                                <li class="page-item">
                                    <a class="page-link active" href="#">1</a>
                                </li>
                            {% else %}
                                {% for i in allUserOrders %}
                                    <li class="page-item">
                                        <a class="page-link active"
                                           href="{% url 'adminorders' orderType forloop.counter %}">{{ forloop.counter }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ur>
                    </div>

                </div>
            </div>
        </section>

    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'orders/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'orders/js/jquery.appear.js' %} "></script>
    <script src="{% static 'orders/js/app/owl.carousel.js' %}"></script>
{% endblock %}