{% extends "orders/baseGeneral.html" %}
{% load static %}
{% block head %}
    <title>Pinocchio's Checkout</title>
    <link href="{% static 'orders/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'orders/css/owl.theme.default.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="pizza_breadcrumb">
            <a href="index.html"><i class="fa fa-home"></i> Home</a> / <span>Checkout</span>
        </div>

        <section class="shop_title">
            <div class="piz_title">
                <div class="small_title"><h3>best choice!</h3></div>

                <div class="big_title"><h1 class="shop_big_title">run checkout</h1><img
                        src="{% static 'orders/img/italy.png' %}"></div>

            </div>
            <div class="title_devider">
                <p class="line"></p>
            </div>
            <div class="under_title">
                <p>Noch's has been in business for over 50 years! We've been feeding Harvard and the surrounding area
                    since 1966!</p>
            </div>
        </section>

        <section class="checkout">
            <div class="row">
                <div class="col-md-6">
                    <div class="run_checkout_box">
                        <h3 class="no_border">billing details</h3>
                        <form action="">
                            <div class="country">
                                <select name="Country" class="custom-select">
                                    <option selected>Georgia</option>
                                    <option value="1">Austria</option>
                                    <option value="2">Georgia</option>
                                    <option value="3">Germany</option>
                                    <option value="4">United States</option>
                                    <option value="5">Brazil</option>
                                </select>
                            </div>


                            <div class="name">
                                <input type="text" class="custom-control" id="usr1" placeholder="First Name" value="{{ user.first_name }}">
                                <input type="text" class="custom-control" id="usr2" placeholder="Last Name" value="{{ user.last_name }}">
                            </div>
                            <div class="email_phone">
                                <input type="text" class="custom-control" id="usr3" placeholder="Email" value="{{ user.email }}">
                                <input type="text" class="custom-control" id="usr4" placeholder="Phone" >
                            </div>
                            <div class="company_name">
                                <input type="text" class="custom-control" id="usr5" placeholder="Company name">
                            </div>
                            <div class="company_address">
                                <input type="text" class="custom-control" id="usr6" placeholder="Street address">
                            </div>

                            <div class="appartment_town">
                                <input type="text" class="custom-control" id="usr7" placeholder="Appartment">
                                <input type="text" class="custom-control" id="usr8" placeholder="Town / City">
                            </div>
                            <div class="state_postal">
                                <input type="text" class="custom-control" id="usr9" placeholder="State">
                                <input type="text" class="custom-control" id="usr10" placeholder="PostalCode / Zip">
                            </div>
                        </form>
                    </div>
                    <form>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                            <label class="custom-control-label" for="customCheck">create an account ?</label>
                        </div>
                    </form>
                    <div class="run_checkout_box top_margin_50">
                        <form>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="example2">
                                <label class="custom-control-label" for="customCheck1"><h3 class="no_border">ship to a
                                    different address?</h3></label>
                            </div>
                        </form>
                        <div class="different_shipping">
                            <form>
                                <div class="country">
                                    <select name="Country" class="custom-select">
                                        <option selected>Georgia</option>
                                        <option value="1">Austria</option>
                                        <option value="2">Georgia</option>
                                        <option value="3">Germany</option>
                                        <option value="4">United States</option>
                                        <option value="5">Brazil</option>
                                    </select>
                                </div>


                                <div class="name">
                                    <input type="text" class="custom-control" id="usr1" placeholder="First Name" value="{{ user.first_name }}" >
                                    <input type="text" class="custom-control" id="usr2" placeholder="Last Name" value="{{ user.last_name }}">
                                </div>
                                <div class="email_phone">
                                    <input type="text" class="custom-control" id="usr3" placeholder="Email" value="{{ user.email }}">
                                    <input type="text" class="custom-control" id="usr4" placeholder="Phone" >
                                </div>
                                <div class="company_name">
                                    <input type="text" class="custom-control" id="usr5" placeholder="Company name">
                                </div>
                                <div class="company_address">
                                    <input type="text" class="custom-control" id="usr6" placeholder="Street address">
                                </div>

                                <div class="appartment_town">
                                    <input type="text" class="custom-control" id="usr7" placeholder="Appartment">
                                    <input type="text" class="custom-control" id="usr8" placeholder="Town / City">
                                </div>
                                <div class="state_postal">
                                    <input type="text" class="custom-control" id="usr9" placeholder="State">
                                    <input type="text" class="custom-control" id="usr10" placeholder="PostalCode / Zip">
                                </div>
                            </form>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-message" rows="5" id="comment"
                                      placeholder="Message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="run_checkout_box">
                        <h3 class="u_order">your order</h3>
                        {% for item in items %}
                            <div class="row flex-tab">
                                <div class="col-md-7">
                                    <div class="run_cart_item">
                                        <img src="{% static 'orders/img/menu/big/pizza_color_1.png' %}"
                                             class="img-fluid">
                                        <div class="caption flex-column">
                                            <h5>{{ item.category }}</h5>
                                            <p>Option: {{ item.name }}</p>
                                            <p>Size: {{ item.size }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center">

                                    <!-- Please only enter number in counter-num that is greater than 0-->
                                    <span class="counter-num center">{{ item.quantity }}</span>

                                </div>
                                <div class="col-md-2">
                                    <div class="total_checkout">
                                        <p>$ {{ item.totalPriceItem }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="shipping_box top_margin_50">
                        <h4>order total</h4>
                        <div class="price_amount">
                            <span>cart subtotal:</span>
                            <p>$ {{ order.totalPriceOrder }}</p>
                        </div>
                        <div class="shipping_price">
                            <span>shipping & hadling:</span>
                            <p>Free shipping</p>
                        </div>

                        <div class="order_total">
                            <span>order total:</span>
                            <p>$ {{ order.totalPriceOrder }}</p>
                        </div>
                    </div>
                    <h3 class="payment_method">payment method</h3>
                    <div class="method_payment">
                        <select name="Payment" class="custom-select">
                            <option selected value="1">PayPal</option>
                            <option value="2">Credit Card</option>
                        </select>
                        <label><span>*</span> Sed pharetra nunc ultrices, elementum velit fringilla, fringilla risus.
                            Phase llus cursus est et nunc sagittis consectetur ac quis ante</label>
                    </div>
                    <form method="get" action="{% url 'sucess' %}">
                        <button type="submit" class="btn btn-outline-primary">place order
                        </button>
                    </form>
                </div>
            </div>


        </section>


    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'orders/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'orders/js/app/owl.carousel.js' %}"></script>
    <!--<script src="js/bootstrap.bundle.min.js"></script>-->
{% endblock %}
