<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page About simulating Pinnochio's Pizzaria">
    <meta name="author" content="Leozítor Floro de Souza">
    <!-- Favicon Logo -->
    <link rel="icon" href="{% static 'orders/img/pizzaIcon.png' %}">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|PT+Serif:400,700|Roboto:100,300,400,500&display=swap"
          rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{% static 'orders/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'orders/css/superslides.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'orders/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'orders/css/style.css' %}">
    <link rel="icon" href="{% static 'orders/img/pizzaIcon.png' %}">

    <script src="https://kit.fontawesome.com/8bd94e436e.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
<div id="main">
    <!--------------------  HEADER  -------------------------------------->
    <div class="header-v3">
        <div class="container">
            <div class="menu-top">
                <div class="left_block">
                    <div class="phone_email">Phone Number: +1 (617) 876-4897 / Email: pinocchiospizza1@gmail.com</div>
                </div>
                <div class="right_block">
                    <!--<div class="my_account">
                            <a class="signin" href="">sign in</a>
                        </div>-->
                    <div class="my_account">
                        <a class="signin">{{ user.first_name }}</a>
                    </div>
                    <div class="my_account">
                        <img src="{% static 'orders/img/avatar1.jpg' %}"> <i class="fas fa-chevron-down"></i>
                        <div class="sf-account_1">
                            <ul>
                                <li><a href="{% url 'orders'  1%}">My Dashboard</a></li>
                                <li><a href="{% url 'orders'  1%}">my orders</a></li>
                                <li><a href="add-address.html">add addresses</a></li>
                                <li><a href="profile.html">account details</a></li>
                                <li><a href="{% url 'logout' %}">log out</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="my_cart_wrapper">

                        <div class="my_cart_button">
                            <a href="#">
                                <img class="vert_line" src="{% static 'orders/img/vert-line.png' %}">
                                <img class="pizza_cart" src="{% static 'orders/img/icons/cart.svg' %}">
                                <span class="cart_circle">{{ itemsCount }}</span>
                            </a>
                            <div class="cart_sum">$ {{ order.totalPriceOrder }}</div>
                        </div>
                        <div class="my_cart_popup">
                            <div id="cart">
                                <!---<div class="my_cart_item clearfix">
                                    <a href="#" class="my_cart_item_close"><i class="fa fa-times"></i></a>
                                    <figure>
                                        <img src="static 'orders/img/cart03.jpg'" alt="" class="img-fluid">
                                    </figure>
                                    <div class="caption">
                                        <div class="txt1">$3.89 x 2</div>
                                        <div class="txt2"><a href="#">Ice Cream "Argonauto"</a></div>
                                    </div>
                                </div> --->
                                {% for item in items %}
                                    <div class="my_cart_item clearfix">
                                        <a href="{% url 'removeitem' item.id 'home' %}" class="my_cart_item_close"><i
                                                class="fa fa-times"></i></a>
                                        <figure>
                                            <img src="{% static 'orders/img/cart01.jpg' %}" alt="" class="img-fluid">
                                        </figure>
                                        <div class="caption">
                                            <div class="txt1">$ {{ item.price }} x {{ item.quantity }}</div>
                                            <div class="txt2"><a href="#">{{ item.name }} - {{ item.size }}</a></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="cartTotal" class="my_cart_total clearfix">
                                <div class="left">Total :</div>
                                <div class="right">$ {{ order.totalPriceOrder }}</div>
                            </div>
                            <div class="my_cart_buttons">
                                <a href="{% url 'shoppingcart' %}" class="my_cart_button2">View Cart</a>
                                <a href="{% url 'checkout' %}" class="my_cart_button2">Check Out</a>
                            </div>
                        </div>
                    </div>
                    <div class="top_social">
                        <img class="vert_line" src="{% static 'orders/img/vert-line.png' %}">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-inner_1 clearfix">
                <header class="header_bg">
                    <div class="logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'orders/img/logo_top.png' %}">
                        </a>
                        <div class="logo_title_1">
                            <div class="top_logo"><span>Pizzeria</span> Pinocchio's</div>
                            <div class="logo_desc">Pizzas & Subs</div>
                        </div>
                    </div>
                </header>
                </header>

                <nav class="navbar_one navbar navbar-expand-md clearfix">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav sf-menu clearfix">
                            <li class="nav-item sub-menu">
                                <a href="{% url 'index' %}" class="nav-link">Home</a></li>
                            <li class="nav-item sub-menu"><a href="{% url 'about' %}" class="active_1 nav-link">About
                                us </a>
                            </li>
                            <li class="nav-item sub-menu"><a href="#" class="nav-link">shop <i
                                    class="fas fa-chevron-down"></i></a>
                                <div class="sf-mega">
                                    <ul>
                                        <li><a href="shop-filter-buttons.html">Without Sidebar</a></li>
                                        <li><a href="shop-right-sidebar-buttons.html">Right Sidebar<i
                                                class="fa fa-angle-right" aria-hidden="true"></i></a>
                                            <div class="sf-mega">
                                                <ul>
                                                    <li><a href="shop-right-sidebar.html">With Dropdown Sort</a></li>
                                                    <li><a href="shop-right-sidebar-buttons.html">With button
                                                        filters</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="shop-left-sidebar-buttons.html">left sidebar <i
                                                class="fa fa-angle-right" aria-hidden="true"></i></a>
                                            <div class="sf-mega">
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">With Dropdown Sort</a></li>
                                                    <li><a href="shop-left-sidebar-buttons.html">With button filters</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="pizza-description.html">Single Product</a></li>
                                        <li><a href="{% url 'shoppingcart' %}">shopping cart</a></li>
                                        <li><a href="{% url 'checkout' %}">checkout</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item sub-menu">
                                <a href="#" class="nav-link">Pages <i class="fas fa-chevron-down"></i></a>
                                <div class="sf-mega">
                                    <ul>
                                        <li><a href="blog-left-sidebar.html">Blog<i class="fa fa-angle-right"
                                                                                    aria-hidden="true"></i></a>
                                            <div class="sf-mega">
                                                <ul>
                                                    <li><a href="blog-left-sidebar.html">Blog Left side</a></li>
                                                    <li><a href="post-left-sidebar.html">Post Left side</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="mobile-app.html">mobile application <i class="fa fa-angle-right"
                                                                                            aria-hidden="true"></i></a>
                                            <div class="sf-mega">
                                                <ul>
                                                    <li><a href="mobile-app.html">With Fixed top menu</a></li>
                                                    <li><a href="mobile-app-scroll.html">With scrolled top menu</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="{% url 'sucess' %}">Success</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact us</a></li>
                        </ul>

                        <!-- <div class="my_account">
                             <a href="">sign in</a>
                         </div>-->
                        <!--------------- My Account ---------------->
                        <!--<div class="my_account">
                            <img src=" static 'orders/img/avatar.jpg' "> <i class="fas fa-chevron-down"></i>
                            <div class="sf-account">
                                <ul>
                                    <li><a href="index.html">Shop Right sidebar</a></li>
                                    <li><a href="index.html">Shop Left sidebar</a></li>
                                    <li><a href="index.html">Shop Without sidebar</a></li>
                                    <li><a href="index.html">billing details</a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>

                </nav>
            </div>
        </div>
    </div>
    <!--------------------  CONTEINER  -------------------------------------->
    {% block body %}
    {% endblock %}
    <!--------------------  FOOTER  -------------------------------------->
    <footer>
        <div class="bot1-wrapper">
            <div class="container">
                <div class="bot1 clearfix">
                    <div class="logo2_wrapper">
                        <img src="{% static 'orders/img/logo2.png' %}" alt="" class="img-fluid">
                        <div class="logo_title">
                            <div class="bottom_logo"><span>Pizzeria</span> Pinocchio's</div>
                            <div class="bottom_logo_desc">Famous Pizza place in Harvard</div>
                        </div>
                    </div>
                    <div class="social-footer-wrapper">
                        <ul class="social-footer clearfix">
                            <li><a href="https://www.facebook.com/Pinocchios-Pizza-Subs-66665703521/"><i
                                    class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/pinocchiospizz"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://www.instagram.com/pinocchiospizza1/"><i
                                    class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!--<div class="devider"></div>-->
                </div>
            </div>
        </div>
        <div class="bot2-wrapper">
            <div class="container">
                <div class="bot2 clearfix">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="contact-us-block">
                                <figure><img src="{% static 'orders/img/ic1.png' %}" alt="" class="img-fluid"></figure>
                                <div class="txt1">74 Winthrop Street Cambridge, MA 02138</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-us-block">
                                <figure><img src="{% static 'orders/img/ic2.png' %}" alt="" class="img-fluid"></figure>
                                <div class="txt1">Phone: (617) 876-4897 or (617) 876-0012</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-us-block">
                                <figure><img src="{% static 'orders/img/ic3.png' %}" alt="" class="img-fluid"></figure>
                                <div class="txt1">Email: <a href="#">pinocchiospizza1@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bot3-wrapper">
            <div class="container">
                <div class="bot3 clearfix">
                    <ul class="menu-bot">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'index' %}">Shop</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="{% url 'contact' %}">Contact us</a></li>
                    </ul>
                    <div class="copyrights">Copyright @2020. All rights Revierves</div>
                    <div class="created">Created with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                            href="https://gridgum.com" target="_blank">Leozitor Floro de Souza</a></div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
{% block js %}
{% endblock %}
<script src="{% static 'orders/js/jquery.min.js' %}"></script>
<script src="{% static 'orders/js/jquery.appear.js' %}"></script>
<script src="{% static 'orders/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'orders/js/responsiveslides.min.js' %}"></script>
<script src="{% static 'orders/js/superfish.js' %}"></script>
<script src="{% static 'orders/js/bootstrap.min.js' %}"></script>
<script src="{% static 'orders/js/scripts.js' %}"></script>
</html>
