{% extends "orders/baseGeneral.html" %}
{% load static %}
{% block head %}
    <title>Pizzeria Pinocchio's</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="pizza_breadcrumb">
            <a href="index.html"><i class="fa fa-home"></i> Home</a> / <span>Online Shop</span>
        </div>

        <section class="shop_title">
            <div class="piz_title">
                <div class="small_title"><h3>hello world!</h3></div>

                <div class="big_title"><h1 class="shop_big_title">buy pizza online</h1><img
                        src="{% static 'orders/img/italy.png' %}"></div>

            </div>
            <div class="title_devider">
                <p class="line"></p>
            </div>
            <div class="under_title">
                <p>Noch's has been in business for over 50 years! We've been feeding Harvard and the surrounding area
                    since 1966!</p>
            </div>
        </section>

        <section class="products">
            <div id="second-tab-group" class="tabgroup">
                <div id="tabs2-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row full_shop">
                                <div class="col-md-4">
                                    <div class="product_block m-right">
                                        <a id="selectRegPizza">
                                            <div class="pizza_full"><img
                                                    src="{% static 'orders/img/menu/big/pizza_color_1.png' %}"
                                                    class="img-fluid"></div>
                                            <h3>Regular Pizza</h3>
                                        </a>
                                        <div style="display: none" id="regPizza">
                                            <div class="size_devider"><span>Option</span></div>
                                            <div class="size_checkboxes">
                                                <table class="table table-borderless">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Small</th>
                                                        <th scope="col">Large</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for i in regular_pizza %}
                                                        <tr>
                                                            <th scope="row">{{ i.name }}</th>
                                                            <td>$ {{ i.small }} <a id="regular_pizza_{{ i.id }}"
                                                                                   onclick="addItemChart()"
                                                                                   href="{% url 'additem' "Regular Pizza" i.name i.small "Small" %}"><img
                                                                    id="plusSign" class="plus ml-2"
                                                                    src="{% static 'orders/img/plus.png' %}"></a>
                                                            </td>
                                                            <td>$ {{ i.large }} <a id="regular_pizza_{{ i.id }}"
                                                                                   href="{% url 'additem' "Sicilian Pizza" i.name  i.large "Large" %}"><img
                                                                    id="plusSign" class="plus ml-2"
                                                                    src="{% static 'orders/img/plus.png' %}"></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="product_block m-right">
                                        <a href="pizza-description.html">
                                            <div class="pizza_full"><img
                                                    src="{% static 'orders/img/menu/big/pizza_color_2.png' %}"
                                                    class="img-fluid"></div>
                                            <h3>Sicilian Pizza</h3>

                                        </a>
                                        <div class="size_devider"><span>Option</span></div>
                                        <div class="size_checkboxes">
                                            <table class="table table-borderless">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Small</th>
                                                    <th scope="col">Large</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for i in sicilian_pizza %}
                                                    <tr>
                                                        <th scope="row">{{ i.name }}</th>
                                                        <td>$ {{ i.small }}</td>
                                                        <td>$ {{ i.large }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                        <button type="button" class="btn btn-outline-primary full_but"><i
                                                class="fa fa-cart-plus"></i> add to cart
                                        </button>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="product_block m-right">
                                        <a href="pizza-description.html">
                                            <div class="pizza_full"><img
                                                    src="{% static 'orders/img/menu/big/pizza_color_3.png' %}"
                                                    class="img-fluid"></div>
                                            <h3>Pasta</h3>
                                        </a>
                                        <div class="size_devider"><span>Option</span></div>
                                        <div class="size_checkboxes">
                                            <table class="table table-borderless">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">One Size</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for i in pasta %}
                                                    <tr>
                                                        <th scope="row">{{ i.name }}</th>
                                                        <td>$ {{ i.price }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>


                                        </div>
                                        <button type="button" class="btn btn-outline-primary full_but"><i
                                                class="fa fa-cart-plus"></i> add to cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!---
                                <div class="row full_shop">
                                    <div class="col-md-4">
                                        <div class="product_block m-right">
                                            <a href="#">
                                                <div class="pizza_full"><img src="img/menu/big/pizza_color_4.png"
                                                                             class="img-fluid"></div>
                                                <h3>pizza vegetarian</h3>
                                                <p class="description_full">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Vivamus sit amet feugiat ante. Mauris pulvinar molestie
                                                    ante. Fusce posuere urna eros.</p>
                                            </a>
                                            <div class="size_devider"><span>Pick Size</span></div>
                                            <div class="size_checkboxes">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio10" value="option1">
                                                    <label class="form-check-label" for="inlineRadio10"> 22cm /
                                                        $19.90</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio11" value="option2">
                                                    <label class="form-check-label" for="inlineRadio11"> 29cm /
                                                        $26.99</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio12" value="option3">
                                                    <label class="form-check-label" for="inlineRadio12"> 35cm /
                                                        $29.99</label>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-outline-primary full_but"><i
                                                    class="fa fa-cart-plus"></i> add to cart
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="product_block m-right">
                                            <a href="#">
                                                <div class="pizza_full"><img src="img/menu/big/pizza_color_5.png"
                                                                             class="img-fluid"></div>
                                                <h3>pizza margarita</h3>
                                                <p class="description_full">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Vivamus sit amet feugiat ante. Mauris pulvinar molestie
                                                    ante. Fusce posuere urna eros.</p>
                                            </a>
                                            <div class="size_devider"><span>Pick Size</span></div>
                                            <div class="size_checkboxes">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio13" value="option1">
                                                    <label class="form-check-label" for="inlineRadio13"> 22cm /
                                                        $19.90</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio14" value="option2">
                                                    <label class="form-check-label" for="inlineRadio14"> 29cm /
                                                        $26.99</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio15" value="option3">
                                                    <label class="form-check-label" for="inlineRadio15"> 35cm /
                                                        $29.99</label>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-outline-primary full_but"><i
                                                    class="fa fa-cart-plus"></i> add to cart
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="product_block m-right">
                                            <a href="#">
                                                <div class="pizza_full"><img src="img/menu/big/pizza_color_7.png"
                                                                             class="img-fluid"></div>
                                                <h3>pizza margarita</h3>
                                                <p class="description_full">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Vivamus sit amet feugiat ante. Mauris pulvinar molestie
                                                    ante. Fusce posuere urna eros.</p>
                                            </a>
                                            <div class="size_devider"><span>Pick Size</span></div>
                                            <div class="size_checkboxes">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio16" value="option1">
                                                    <label class="form-check-label" for="inlineRadio16"> 22cm /
                                                        $19.90</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio17" value="option2">
                                                    <label class="form-check-label" for="inlineRadio17"> 29cm /
                                                        $26.99</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio18" value="option3">
                                                    <label class="form-check-label" for="inlineRadio18"> 35cm /
                                                        $29.99</label>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-outline-primary full_but"><i
                                                    class="fa fa-cart-plus"></i> add to cart
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <div class="row full_shop">
                                    <div class="col-md-4">
                                        <div class="product_block m-right">
                                            <a href="#">
                                                <div class="pizza_full"><img src="img/menu/big/pizza_color_8.png"
                                                                             class="img-fluid"></div>
                                                <h3>pizza margarita</h3>
                                                <p class="description_full">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Vivamus sit amet feugiat ante. Mauris pulvinar molestie
                                                    ante. Fusce posuere urna eros.</p>
                                            </a>
                                            <div class="size_devider"><span>Pick Size</span></div>
                                            <div class="size_checkboxes">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio19" value="option1">
                                                    <label class="form-check-label" for="inlineRadio19"> 22cm /
                                                        $19.90</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio20" value="option2">
                                                    <label class="form-check-label" for="inlineRadio20"> 29cm /
                                                        $26.99</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio21" value="option3">
                                                    <label class="form-check-label" for="inlineRadio21"> 35cm /
                                                        $29.99</label>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-outline-primary full_but"><i
                                                    class="fa fa-cart-plus"></i> add to cart
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="product_block m-right">
                                            <a href="#">
                                                <div class="pizza_full"><img src="img/menu/big/pizza_color_9.png"
                                                                             class="img-fluid"></div>
                                                <h3>pizza margarita</h3>
                                                <p class="description_full">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Vivamus sit amet feugiat ante. Mauris pulvinar molestie
                                                    ante. Fusce posuere urna eros.</p>
                                            </a>
                                            <div class="size_devider"><span>Pick Size</span></div>
                                            <div class="size_checkboxes">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio22" value="option1">
                                                    <label class="form-check-label" for="inlineRadio22"> 22cm /
                                                        $19.90</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio23" value="option2">
                                                    <label class="form-check-label" for="inlineRadio23"> 29cm /
                                                        $26.99</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio24" value="option3">
                                                    <label class="form-check-label" for="inlineRadio24"> 35cm /
                                                        $29.99</label>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-outline-primary full_but"><i
                                                    class="fa fa-cart-plus"></i> add to cart
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-md-4">

                                        <div class="product_block m-right">
                                            <a href="#">
                                                <div class="pizza_full"><img src="img/menu/big/pizza_color_10.png"
                                                                             class="img-fluid"></div>
                                                <h3>pizza margarita</h3>
                                                <p class="description_full">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit. Vivamus sit amet feugiat ante. Mauris pulvinar molestie
                                                    ante. Fusce posuere urna eros.</p>
                                            </a>
                                            <div class="size_devider"><span>Pick Size</span></div>
                                            <div class="size_checkboxes">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio25" value="option1">
                                                    <label class="form-check-label" for="inlineRadio25"> 22cm /
                                                        $19.90</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio26" value="option2">
                                                    <label class="form-check-label" for="inlineRadio26"> 29cm /
                                                        $26.99</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio27" value="option3">
                                                    <label class="form-check-label" for="inlineRadio27"> 35cm /
                                                        $29.99</label>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-outline-primary full_but"><i
                                                    class="fa fa-cart-plus"></i> add to cart
                                            </button>
                                        </div>
                                    </div>
                                </div>
    --->
                            <!---    <ur class="pagination right">
                                    <li class="page-item">
                                        <a class="page-link" href="#"><i class="fa fa-angle-double-left"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link active" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">7</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"><i class="fa fa-angle-double-right"></i></a>
                                    </li>
                                </ur>
                                --->
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

{% endblock %}
{% block js %}
{% endblock %}