{% extends "orders/baseGeneral.html" %}
{% load static %}
{% block head %}
    <link href="{% static 'orders/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'orders/css/owl.theme.default.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!--- modal---->
    <form action="{% url 'addtopping' %}" method="post">
        {% csrf_token %}
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Select Toppings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="itemId" id="itemId" value="">
                        <select name="top1" class="custom-select custom-select-sm mb-4" id="topping1" required>
                            <option selected>Select</option>
                            {% for top in toppings %}
                                <option value="{{ top }}">{{ top }}</option>
                            {% endfor %}
                        </select>
                        <select name="top2" class="custom-select custom-select-sm mb-4" id="topping2" required>
                            <option name="top2" selected>Select</option>
                            {% for top in toppings %}
                                <option value="{{ top }}">{{ top }}</option>
                            {% endfor %}
                        </select>
                        <select name="top3" class="custom-select custom-select-sm" id="topping3" required>
                            <option name="top3" selected>Select</option>
                            {% for top in toppings %}
                                <option value="{{ top }}">{{ top }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Choices</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="pizza_breadcrumb">
            <a href="index.html"><i class="fa fa-home"></i> Home</a> / <span>Shopping cart</span>
        </div>
        <section class="shop_title">
            <div class="piz_title">
                <div class="small_title"><h3>best choice!</h3></div>

                <div class="big_title"><h1 class="shop_big_title">Shopping cart</h1><img
                        src="{% static 'orders/img/italy.png' %}"></div>

            </div>
            <div class="title_devider">
                <p class="line"></p>
            </div>


        </section>
        <section class="shopping_cart_box">
            <div class="row top_tab">
                <div class="col-md-5">
                    <div class="name_title float-left">
                        product name
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="price_title">
                        product price
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="quantity_title">
                        quantity
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="total_title">
                        total
                    </div>
                </div>
                <div class="col-md-1">

                </div>
            </div>
            {% for item in items %}
                <div class="row flex-tab">
                    <div class="col-md-5">
                        <div class="cart_item">
                            <img src="{% static 'orders/img/menu/big/pizza_color_1.png' %}" class="img-fluid">
                            <div class="caption flex-column">
                                <h4>{{ item.category }}</h4>
                                <p>Crust: {{ item.name }}</p>
                                <p>Size: {{ item.size }}</p>
                                {% if item.topping_allowance > 0 %}
                                    <button style="height: 100%; color: white; background-color:#fb1f2d" type="button"
                                            class="btn btn-primary mt-2" data-toggle="modal"
                                            id="toppingButton" data-target="#exampleModalCenter"
                                            value="{{ item.topping_allowance }}" name="{{ item.id }}">
                                        Select Topping
                                    </button>
                                {% endif %}
                                {% if  item.topping_allowance < 0 %}
                                    <h4 class="mt-1" style="font-size: 15px;">Toppings Selected:</h4>
                                    <p>- {{ item.topping_1 }}</p>
                                    {% if item.topping_2 == "none" %}
                                    {% else %}
                                        <p>- {{ item.topping_2 }}</p>
                                    {% endif %}
                                    {% if item.topping_3 == "none" %}
                                    {% else %}
                                        <p>- {{ item.topping_3 }}</p>
                                    {% endif %}
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="price">
                            <p>$ {{ item.price }}</p>
                        </div>
                    </div>
                    <div class="col-md-2 plusButton">
                        <button class="minus_1 countMinus"><i class="fa fa-angle-left"></i></button>
                        <span class="counter-num_1 counter">{{ item.quantity }}</span>
                        <button class="plus_1 countPlus"><i class="fa fa-angle-right"></i></button>
                    </div>
                    <div class="col-md-2">
                        <div class="total">
                            <p>$ {{ item.totalPrice }} </p>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <a href="{% url 'removeitem' item.id 'cart' %}"><img
                                src="{% static 'orders/img/remove-icon.png' %}" class="img-fluid"></a>
                    </div>
                </div>
            {% endfor %}
            <div class="row top_margin_50">
                <div class="col-md-6">
                    <form action="#" method="post">
                        <input type="text" name="name" placeholder="Enter your coupon code"><input type="submit"
                                                                                                   value="apply coupon">
                    </form>
                </div>

                <div class="col-md-3 text-right">
                    <button type="button" class="btn btn-outline-primary-grey grey">update cart</button>
                </div>
                <div class="col-md-3">
                    <form method="get" action="{% url 'checkout' %}">
                        <button  type="submit" class="btn btn-outline-primary-red">proceed to checkout </button>
                    </form>
                </div>
            </div>

            <div class="row top_margin_110">
                <div class="col-md-6">
                    <div class="shipping_box">
                        <h4>calculate shipping</h4>

                        <form action="#" method="post">
                            <input type="text" name="name" placeholder="Enter your coupon code">
                        </form>
                        <div class="address_box">
                            <div class="country_field">
                                <form action="#" method="post">
                                    <input type="text" name="name" placeholder="Enter your coupon code">
                                </form>
                            </div>
                            <div class="zip_field">
                                <form action="#" method="post">
                                    <input type="text" name="name" placeholder="Enter your coupon code">
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-primary-red">update totals</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="shipping_box">
                        <h4>cart totals</h4>
                        <div class="price_amount">
                            <span>cart total:</span>
                            <p>$ {{ total }}</p>
                        </div>
                        <div class="shipping_price">
                            <span>shipping & hadling:</span>
                            <p>Free shipping</p>
                        </div>

                        <div class="order_total">
                            <span>order total:</span>
                            <p>$ {{ total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="{% static 'orders/js/app/owl.carousel.js' %}"></script>
    <script src="{% static 'orders/js/jquery.fancybox.js' %}"></script>

    <!--<script src="js/bootstrap.bundle.min.js"></script>-->
{% endblock %}
