{% extends "orders/baseGeneral.html" %}
{% load static %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link href="{% static 'orders/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'orders/css/owl.theme.default.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="pizza_breadcrumb">
        <a href="index.html"><i class="fa fa-home"></i> Home</a> / <span>Shopping cart</span>
    </div>
    <section class="shop_title">
        <div class="piz_title">
            <div class="small_title"><h3>best choice!</h3></div>

            <div class="big_title"><h1 class="shop_big_title">Shopping cart</h1><img
                    src="{% static 'orders/img/italy.png' %}"></div>

        </div>
        <div class="title_devider">
            <p class="line"></p>
        </div>


    </section>
    <section class="shopping_cart_box">
        <div class="row top_tab">
            <div class="col-md-5">
                <div class="name_title float-left">
                    product name
                </div>
            </div>
            <div class="col-md-2">
                <div class="price_title">
                    product price
                </div>
            </div>
            <div class="col-md-2">
                <div class="quantity_title">
                    quantity
                </div>
            </div>
            <div class="col-md-2">
                <div class="total_title">
                    total
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>
        {% for item in items %}
            <div class="row flex-tab">
                <div class="col-md-5">
                    <div class="cart_item">
                        <img src="{% static 'orders/img/menu/big/pizza_color_1.png' %}" class="img-fluid">
                        <div class="caption flex-column">
                            <h4>{{ item.category }}</h4>
                            <p>Option: {{ item.name }}</p>
                            <p>Size: {{ item.size }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="price">
                        <p>$ {{ item.price }}</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="minus"><i class="fa fa-angle-left"></i></button>
                    <!-- Please only enter number in counter-num that is greater than 0-->
                    <span class="counter-num">1</span>
                    <button class="plus"><i class="fa fa-angle-right"></i></button>
                </div>
                <div class="col-md-2">
                    <div class="total">
                        <p>$26.35</p>
                    </div>
                </div>
                <div class="col-md-1 text-center">
                    <a href="#"><img src="{% static 'orders/img/remove-icon.png' %}" class="img-fluid"></a>
                </div>
            </div>
        {% endfor %}
        <div class="row top_margin_50">
            <div class="col-md-6">
                <form action="#" method="post">
                    <input type="text" name="name" placeholder="Enter your coupon code"><input type="submit"
                                                                                               value="apply coupon">
                </form>
            </div>

            <div class="col-md-3 text-right">
                <button type="button" class="btn btn-outline-primary-grey grey">update cart</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-outline-primary-red">proceed to checkout</button>
            </div>
        </div>

        <div class="row top_margin_110">
            <div class="col-md-6">
                <div class="shipping_box">
                    <h4>calculate shipping</h4>

                    <form action="#" method="post">
                        <input type="text" name="name" placeholder="Enter your coupon code">
                    </form>
                    <div class="address_box">
                        <div class="country_field">
                            <form action="#" method="post">
                                <input type="text" name="name" placeholder="Enter your coupon code">
                            </form>
                        </div>
                        <div class="zip_field">
                            <form action="#" method="post">
                                <input type="text" name="name" placeholder="Enter your coupon code">
                            </form>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary-red">update totals</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="shipping_box">
                    <h4>cart totals</h4>
                    <div class="price_amount">
                        <span>cart total:</span>
                        <p>$36.11</p>
                    </div>
                    <div class="shipping_price">
                        <span>shipping & hadling:</span>
                        <p>Free shipping</p>
                    </div>

                    <div class="order_total">
                        <span>order total:</span>
                        <p>$36.11</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
{% endblock %}
{% block js %}
    <script src="{% static 'orders/js/app/owl.carousel.js' %}"></script>
    <script src="{% static 'orders/js/jquery.fancybox.js' %}"></script>

    <!--<script src="js/bootstrap.bundle.min.js"></script>-->
{% endblock %}
