{% extends "orders/base.html" %}

{% block head %}
    {% load static %}
    <title>Pizza Registration</title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'orders/css/signup.css' %}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card bg-light align-items-center">
            <img class="mt-4 img-fluid" src="{% static 'orders/img/pizzaLogo.png' %}" alt="" width="300px" height="269px">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Create Account</h4>
                <p class="text-center">Get started with your free account</p>
                <form action="{% url 'signup' %}" method="post">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="fullName" class="form-control" placeholder="Full name" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="email" class="form-control" placeholder="Email address" type="email">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <select class="custom-select" style="max-width:80px;">
                            <option selected="">+55</option>
                            <option value="1">+1</option>
                            <option value="2">+54</option>
                            <option value="3">+61</option>
                        </select>
                        <input name="telephone" class="form-control" placeholder="Phone number" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input name="password" class="form-control" placeholder="Create password" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input name="confPassword" class="form-control" placeholder="Repeat password" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Create Account</button>
                    </div> <!-- form-group// -->
                    <p class="text-center">Have an account? <a href="{% url 'signin' %}">Log In</a></p>
                </form>
            </article>
        </div>
    </div>
{% endblock %}